
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.ff{
    text-align: left;
}
.portfolio{
     background-image: url('../images/dot-bg.jpg');
     height: auto;
     background-size: contain;
        background-repeat: no-repeat;
}
.portfolio-proj{
    margin: 20px 0 0 0;
    text-align: left;
    }


.dotbgnd {
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
    
}

.ffRealEstate{
    text-align: left;
}
.RealEstate-project{
    text-align: left;
}

.RealEstate-img{
    margin-left: 10px;
    padding-bottom:10px;
    background-size:cover;
    width: 50rem
}


.footer{
    height: 50vh;
}
.footer-project{
    margin: 20px 50px 0 0;
width: 40vh;
text-align: left;
}

@media(min-width: 1024px){
    #offset-unset{
        padding: 0 0 0 480px;
        }
        .portfolio-project{
        margin: 0 0 0 0;
        height: 60vh;
        text-align: left;
        border-left:  2px solid black
        }
}
@media(max-width: 1021) and (min-width: 768px) {
    
    
    .portfolio-project-x{
        margin: 20px 50px 0 0;
        height: 60vh;
        text-align: left;
    }    
    .portfolio-project  img{
        width: 100%
    }
    .portfolio-project-x  img{
        width: 100%
        
    }

}


@media(max-width: 900px){
    .imglines {
     display: none;
    }
    
    h1{
        font-size:x-large;        
    }
    .ff{
        font-size:x-large;        
    }

    .portfolio-imglines {
        height: 4px;
        float: le
        ft;
       }
       
    /* .portfolio-project{
        margin: 0 0 10px 0;
        text-align: left;
        padding-bottom: 2px;
        }
        .portfolio-project-x{
            margin: 50px 0 0 0;
            text-align: left;
            padding-bottom: 2px;
            }
        
    
    #offset-unset{
        padding-top: 50px ;
    } */
    
    .portfolio-project{
        margin:0  0 0 0;
        text-align: left;
        padding-bottom:10px ;
        }
    .portfolio-project-x{
        text-align: left;
        border-top: 1px solid black;
        padding-bottom: 10px;
        }
    .portfolio-project  img{
        width: 70%
    }
    .portfolio-project-x  img{
        width: 70%
        
    }

    .ffRealEstate{
        font-size:x-large;        
    }

    .RealEstate-project{
        text-align: left;
    }

    .RealEstate-img{
        padding-bottom:20px;
        background-size:cover;
        width: 18rem
    }

    .footer{
        height: 70vh;
    }
  }
