@import url("https://fonts.googleapis.com/css?family=Nunito"); 
body, html {
    font-family: Nunito,sans-serif;
    scroll-behavior: smooth;
    --tw-bg-opacity: 0.9;
    background-color: rgba(255, 255, 255,var(--tw-bg-opacity));
    
    background-image:url("../images/bg2.png");
    background-blend-mode:multiply;
}


.landing-image{
    min-height:100vh;
    background-image:url('../images/bg-image.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center
}

.centered {
position: absolute;
top: 50%;
left: 50%;
padding: 5px;
font-weight: 700;
color: white;
transform: translate(-50%, -50%);
}

.centered-style{
background-color: rgba(0,0,0,0.3);
font-size:3.75rem;
padding: 6px;
}

.float-table{
position: absolute;
top:80%;
left: 50%;
transform: translate(-50%,50%);
}

.chandelier{
    
position: absolute;

left: 50%;
transform: translate(-50%,-180%);
}

.ff{
    text-align: left;
}
.portfolio{
     background-image: url('../images/dot-bg.jpg');
     height: auto;
     background-size: contain;
        background-repeat: no-repeat;
}
.portfolio-proj{
    margin: 20px 0 0 0;
    text-align: left;
    }
    .portfolio-project-x{
        text-align: left;
        }
.left-border-lg{
    border-left: 1px solid black;
}
.dotbgnd {
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
    
}

.ffRealEstate{
    text-align: left;
}
.RealEstate-project{
    text-align: left;
}

.RealEstate-img{
    margin-left: 10px;
    padding-bottom:10px;
    background-size:cover;

    width: 50rem
}

.bottom-left{
    position: absolute;
    width: 250px;
    background-color: #ECBA09;
    word-wrap: break-word;
    bottom: 8px;
    left: 16px;
}
.top-right{
    position: absolute;
    width: 250px;
    background-color: #68D2F3;
    word-wrap: break-word;
    top: 8px;
    right: 16px;
}

.footer{
    height: 50vh;
}
.footer-project{
    margin: 20px 50px 0 0;
width: 40vh;
text-align: left;
}

.form-group{
    padding:10px 0;
    border-bottom: 2px dotted  white;
    text-align: left;
    background-color: transparent;

}

.transparent{
    background-color: transparent;
}
.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}
@media(min-width: 1024px){
    #offset-unset{
        padding: 0 0 0 480px;
        }
        .portfolio-project{
        margin: 0 0 0 0;
        height: 60vh;
        text-align: left;
        border-left:  2px solid black
        }
        .left-border-lg{
            border-left: 1px solid black;
        }
}
@media(max-width: 1021) and (min-width: 768px) {
    
    
    .portfolio-project-x{
        margin: 20px 50px 0 0;
        height: 60vh;
        text-align: left;
    }    
    .portfolio-project  img{
        width: 100%
    }
    .portfolio-project-x  img{
        width: 100%
    }
    .left-border-lg{
        border: none;
    }
    

}


@media(max-width: 900px){
    .imglines {
     display: none;
    }
    
    h1{
        font-size:x-large;        
    }
    .ff{
        font-size:x-large;        
    }

    .centered-style{
        background-color: rgba(0,0,0,0.3);
        font-size:2.25rem;
        float: left;
        text-align: left;
        width:350px;
        padding: 6px;
        position: relative;
        }
    .landing-image{
        min-height:100vh;
        background-image:url('../images/bg-image.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }

    .float-table{
        display: none;
        }

    .chandelier{
        display: none;
    }
    
    .portfolio-imglines {
        height: 4px;
        float: left;
       }
       
    .left-border-lg{
        border: none;
    }
    .portfolio-project{
        margin:0  0 0 0;
        text-align: left;
        padding-bottom:10px ;
        }
    .portfolio-project-x{
        text-align: left;
        padding-bottom: 10px;
        }
    .portfolio-project  img{
        width: 70%
    }
    .portfolio-project-x  img{
        width: 70%
        
    }

    .ffRealEstate{
        font-size:x-large;        
    }

    .RealEstate-project{
        text-align: left;
    }

    .RealEstate-img{
        padding-bottom:20px;
        background-size:cover;
        width: 18rem
    }

    .bottom-left{
        position: absolute;
        width: 200px;
        background-color: #ECBA09;
        word-wrap: break-word;
        font-size: 0.75rem;
        bottom: 8px;
        left: 16px;
    }
    .top-right{
        position: absolute;
        width: 200px;
        background-color: #68D2F3;
        word-wrap: break-word;
        font-size: 0.75rem;
        top: 8px;
        right: 16px;
    }


    .footer{
        height: 70vh;
    }
    .form-group{
        padding:10px 0;
        border-bottom: 2px dotted  white;
        text-align: left;
    }
  }
